spring.application.name: api_combat

app:
  vars:
    baseurl: ${BASEURL}
    monsters_port: ${MONSTERS_PORT}

spring:
  data:
    mongodb:
      uuid-representation: standard
      database: api_combatdb
      port: 27017

# Actuator configuration
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
